html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.menu-icon {
  font-size: 17px;
  padding: 3px;
  color: white;
  border-radius: 50%;
  background-color: black;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 1px;
}

.closed-icons:hover {
  font-size: 32px;
  padding: -1px;
}

.imageCard {
  border-radius: 1.25rem;
  cursor: pointer;
}
